
body {
	font-size: 14px;
	font-family: verdana,arial;
	text-decoration: none;
}

a:link {
	font-size: 14px;
	color: #0033cc;
	font-family:verdana,arial;
}

a:visited {
	font-size: 14px;
	color: #cc0000;
	font-family: verdana,arial;
}

a:hover {
	font-size: 14px;
	color: #cc3333;
	font-family: verdana,arial;
}

a:active {
	font-size: 14px;
	color: #000033;
	font-family: verdana,arial;
}

.greenButtonCss {
    font-size: 12pt; color: #0066cc;
    border: 1px #93bee2 solid;
    border-bottom: #93bee2 1px solid; 
    border-left: #93bee2 1px solid; 
    border-right: #93bee2 1px solid; 
    border-top: #93bee2 1px solid;
    background-color: #ffffff;
    font-style: normal ;
}





table.sortable thead {
	background-color: #9ae9ae;
	color: black;
	font-weight: bold;
	cursor: pointer;
	text-align:center;
}


td {
padding: 2px 8px;
border: black solid 1px;
}

table#form {
	width:400px;
	height:100px;
	margin:100px auto;
	background-color:#fffacd;
	border:1px solid green;
	padding:2px 2px;	
}

#container {
	width:100%;
	margin:-10px 0;
}

div#input {
	margin:10px 10px;
}

div#header {
	background: url(/images/header.png) repeat-x top center; 
	margin:0 0 2em;
	padding: 1.2em 0 1.2em 3em;
}

div#result {
	width:900px;
	margin:auto;
}

